doctype
html
    include include/header.jade
    body
        div(class="container-fluid")
            include include/navbar.jade
            div(class="page-header") 
                h2 Sojup 404
            p
                | Unfortunately, even the wise Sojup cannot find the website you are requesting.
                | 4j04! Perhaps you just want to go <a href="index.html">Sojupify some words</a>.
            
            
