doctype
html
    include include/header.jade
    body
        div(class="container-fluid")
            include include/navbar.jade
            div(class="page-header") 
                h2 About Sojupification
            p
                | Sojupification is the process of adding a j to a word. Hence,
            ul
                li apple becomes appjle
                li frog becomes frjog
                li sound becomes sojund
                li etc.
            
