doctype
html
    include include/header.jade
    body
        div(class="container-fluid")
            include include/navbar.jade
            div(class="page-header") 
                h2 Contact Sojupifiers!
            p
                | Please contact us at sojupinfo@gmail.com
            
